.addbody{
    width: 700px;
    margin: 0px auto;
    margin-top: 20px;
    background-color: white;
}

.adddes {
    width: 200px;
    height: 80px;
    font-size: 35px;
    text-align: center;
    margin: 0px auto;
    padding-top: 20px;
}

.myinfo {
    margin: 10px;
    padding-bottom: 10px;
}

.mybutton {
    margin:10px;
}